@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --negro-principal: #000000;
    --blanco-principal: white;
    --rosa-principal: #CF0F47;
    --rosa-secundario: #FF0B55;
    --rosa-terciario: #FFDEDE;

}

*{
    margin: 0;
    padding: 0;
}

html{
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-size: 10px;
}

body{
    font-family: 'Poppins',sans-serif;;
}

.nav{
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--negro-principal);
    z-index: 1000;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
}

ul{
    list-style: none;
}

.nav-list{
    display: flex;
    margin-right: 2rem;
}

a{
    text-decoration: none;
    color: var(--blanco-principal);
}

.nav-list a{
    display: block;
    font-size: 2.2rem;
    padding: 2rem;
}

.nav-list a:hover{
    background-color: #CF0F47;
}